bcrypt
certifi==2020.6.20
cffi
click==7.1.2
dnspython==2.0.0
dominate==2.5.2
email-validator
Faker==4.1.2
Flask==1.1.2
Flask-Bcrypt
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy
Flask-WTF==0.14.3
gunicorn==20.0.4
idna
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser
python-dateutil==2.8.1
six==1.15.0
SQLAlchemy
text-unidecode==1.3
visitor==0.1.3
Werkzeug==1.0.1
wincertstore==0.2
WTForms
