html, body{
    background: url(https://images.pexels.com/photos/669577/pexels-photo-669577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h2, h4 {
    text-align: left;
    margin-top: 16px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: auto;
}

table{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td{
    border-bottom: 1px solid #ddd;
}