<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet", href="{{ url_for('static', filename='css/layout.css') }}">
    {% block styles %}
    {% endblock styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='flex.ico') }}">
    <title>{{ title }}</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <header class="site-header">
            <nav class="navbar navbar-expand-md fixed-top">
                <div class="container">
                    <a class="nav-item nav-link" href="{{ url_for("main.home") }}">Home</a>
                    <a 
                        class="nav-item nav-link" 
                        href="{{ url_for("account.account", username=current_user.username) }}">
                        Account
                    </a>
                    <a 
                        class="nav-item nav-link" 
                        href="{{ url_for("account.user_sessions", username=current_user.username) }}">
                        MySessions
                    </a>
                    <a class="nav-item nav-link" href="{{ url_for("sessions.gym_sessions") }}">Sessions</a>
                    <a class="nav-item nav-link" href="{{ url_for("account.logout", username=current_user.username) }}">Logout</a>
                </div>
            </nav>
        </header>
    {% endif %}
    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class=alert alert-{{ category }} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
