{% extends "layout.html" %}
{% block content %}
	<head>
        <title>{{ title }}</title>
	</head>
	<body>
		<div>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset>
					<legend>Join Today</legend>
					<div>
						{{ form.username.label }}
						{{ form.username }}
					</div>
					<div>
						{{ form.email.label }}
						{{ form.email }}
					</div>
					<div>
						{{ form.gym.label }}
						{{ form.gym }}
					</div>
					<div>
						{{ form.password.label }}
						{{ form.password}}
					</div>
					<div>
						{{ form.confirm_password.label }}
						{{ form.confirm_password}}
					</div>
					<div>
						{{ form.submit }}
					</div>
				</fieldset>
			</form>
		</div>

	</body>
{% endblock content %}
