{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/sessions.css')}}">
{% endblock styles %}
{% block content %}
<body>
    <table style="width:100%" class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Gym</th>
                <th>Activity</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    {% if session is not none %}
                        <td>{{ session.time_start.strftime("%b/%d/%Y") }}</td>
                        <td>{{ session.time_start.strftime("%H:%M") }} - {{ session.time_end.strftime("%H:%M") }}</td>
                        <td>{{ session.name }}</td>
                        <td>{{ session.activity }}</td>
                        <td>
                            <a href="{{ url_for("account.cancel_session", id=session.id, username=current_user.username) }}"><button class="btn btn-warning">CANCEL</button></a>
                        </td>
                    {% else %}
                        NONE
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}
